body{
    background-color: white;
    font-family: 'Times New Roman', Times, serif;
}

header{
    background-color: white;
}

 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
   li {
    float: left;
  }
  
 li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 30;
  }
  
  li a:hover {
    background-color: #111;
  }

  .logo{
      float:left;
  }

  li form{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 30;
  }

  .busqueda{
    width: 300px;
    height: 30px;
    border: 1px ;
  }

  footer {
    background-color: black;
    padding: 10px;
    text-align: center;
    color: white;
  }
  
  .descripcion{
      background-color: red;
      width: 30%;
      float: left;
  }

  .direccion{
      background-color: greenyellow;
      width: 30%;
      float: center;
  }

  .contacto{
      background-color: khaki;
      width: 30%;
      float: right;
  }

  .seccion_footer{
    display: flex;
  }
.bloque_footer_1{
    flex:1;

  }

.titulos{
    font-size: 40;
    text-align: center;
  }

.identificacion{
		width:40%;
		text-align:center;
		position: relative;
        left: 30%;
        margin-bottom:40px;
		}

.separacion{
    margin-top:10px;
    margin-bottom:25px;
    float:center;
}

.cuerpo{
  text-align: center;
  font-size: 20;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 750px;
  margin-bottom: 90px;
}


@media only screen and (max-width:800px){

	.cuerpo{
		width:100%;
	}
	.titulos{
		width:100%;
	}
	
	img{
		width:100%;
	}
	
	header{
		width:100%;
	}
	iframe{
		width:70%;
	}
	.img_contacto{
		width:50%;
	}
	form{
		width: 100%
	}
}